<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Subscribe-ME | Get Multiple Subscription plans with us</title>

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- <section id="header">
      <a href="index.html"
        ><img src="images/logo.png" class="logo" width="150px"
      /></a>

      <div>
        <ul id="navbar">
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="shop.html">Products</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="productcart.html">Cart</productcart></a></li>
          <li>
            <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
          </li>
        </ul>
      </div>
    </section>

</section> -->

<div class="signup-form">
  <form>
    <h2>Login</h2>
    <p class="hint-text">
      Login to your account
    </p>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username *"
            required="required"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="username"
        placeholder="Password *"
        required="required"
      />
    </div>
    
      >
    </div>
    <div class="form-group">
        <input
          type="submit"
          class="btnSubmit"
          value="Login"
          onclick="myFunc()"
        />
      </div>
      <div class="form-group">
        <a href="#" class="ForgetPwd" value="Login">Forgot Password?</a>
      </div>
      <div class="form-group">
        <a href="register.html" class="Registration" value="Register"
          >Register here</a
        >
      </div>
</div>

    <script>
      function myFunc() {
        window.location.href = "http://127.0.0.1:4242/new_checkout.html";
      }
    </script>
  </body>
</html>

<!-- ---------------------------------------------------------------------------------------------------------- -->
